.footer {
    display: flex;
    font-size: 1.5rem;
    color: white;
    justify-content: center;
}

ul {
    display: flex;
    gap: 0.5em;
    gap: 0.5rem;
    justify-content: center;
    list-style: none;
}

li {
    background: var(--card-color);
    border: 2px solid;
    border-color: var(--text-color);
}

li:hover {
    cursor: pointer;
    color: var(--li-hover-color);
}

@media only screen and (max-width: 600px) {
    .footer {
        font-size: 1rem;
        width: 100%;
        flex-direction: column-reverse;
        text-align: center;
    }
}