.character__container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    background: var(--card-color);
    border-radius: 2rem;
    border: 0.4rem black solid;
    padding: 0.5rem;
    justify-content: center;
    gap: 0.5em;
    margin: 0 auto;
}

.character__container>* {
    color: var(--wheat-color);
    font-size: 1rem;
}

.character__image {
    width: 15rem;
    height: 30;
    margin: 0 auto;
    text-shadow: 2px 2px;
    background-image: url('assets/noImage.jpeg');
    border-radius: 50%;
    border: 0.3rem white solid;
}

.character__image:hover {
    border: 0.3rem var(--wheat-color) solid;
}

.title {
    border-bottom: 2px solid white;
    font-size: 1.5rem;
}

@media only screen and (max-width: 800px) {
    .character__container {
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 90%;
    }
    .character__image {
        max-width: 20rem;
    }
}