.character__container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    background: var(--card-color);
    border-radius: 2rem;
    border: 0.4rem black solid;
    padding: 0.5em;
    justify-content: center;
    gap: 0.5em;
    margin: 0 auto;
}

.character__container>* {
    color: var(--text-color);
    font-size: 1rem;
}

.character__image {
    width: 15em;
    height: 30;
    margin: 0 auto;
    text-shadow: 2px 2px;
    background-image: url('../assets/noImage.jpeg');
    border-radius: 4%;
    border: 0.3em white solid;
}

.character__image:hover {
    border: 0.3em green solid;
}

.character__container h1 {
    border-bottom: 2px solid black;
}

@media only screen and (max-width: 800px) {
    .character__container {
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 80%;
    }
    .character__image {
        max-width: 20rem;
        border-radius: 50%;
    }
}